.field {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .button {
        display: block;
        margin: 0 auto;
    }
    .image.is-4by3 img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
